ErrorDocument 404 /routes/404.php
AddDefaultCharset utf-8

php_value auto_prepend_file init-route.php
php_value include_path ${DOCUMENT_ROOT}
php_value display_errors 0

php_value mysqli.default_host 127.0.0.1
php_value mysqli.default_user tasty_recipes_app
php_value mysqli.default_pw aa8df7aba53df507f84c85afc93c8d37

RewriteEngine on
RewriteRule ^$ routes/index.php
RewriteRule ^[^.]+$ routes/$0.php

ExpiresActive on
ExpiresDefault "access 1 hour"
ExpiresByType image/jpeg "access 1 year"
