ErrorDocument 404 /routes/404.php
AddDefaultCharset utf-8

php_value auto_prepend_file fragments/init.php
php_value include_path ${DOCUMENT_ROOT}

RewriteEngine on
RewriteRule ^$ routes/index.php
RewriteRule ^[^./]+$ routes/$0.php

ExpiresActive on
ExpiresDefault "access 1 hour"
ExpiresByType image/jpeg "access 1 year"
