html {
	font-family: Arial, Sans-serif;
	font-style: normal;
}

main {
	margin: 1em;
}

@media screen and (min-width: 900px) {
	main {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

a {
	text-decoration: underline;
	color: inherit;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li {
	padding-bottom: 0.25em;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

nav {
	background-color: #b4cef7;
	padding: 1em;
}

nav li {
	margin-left: 1em;
}

nav a {
	color: black;
	font: inherit;
	font-weight: bold;
	text-decoration: none;
	background: none;
	border: none;
	padding: 0;
}

#login-form>input {
	display: block;
}

#login-form>input[type="text"], #login-form>input[type="password"] {
	border: 1px solid;
}

nav a:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (min-width: 600px) {
	nav li {
		display: inline-block;
		padding-bottom: 0;
	}

	#login-form>input {
		display: inline-block;
	}

	#login, #logout {
		float: right;
	}
}

form.user-password {
	display: inline-block;
	border: 1px solid;
}

form.user-password .inputgroup {
	margin: 0.8em 1em;
}

form.user-password label {
	display: block;
}

input, textarea {
	font: inherit;
	font-size: 0.75em;
}

input[type="submit"]:hover, button {
	cursor: pointer;
}

input[type="submit"], button {
	border: none;
	background-color: #f4b942;
	font-weight: bold;
	padding: 2px 7px;
	font-size: 0.75em;
}

.status-success:before {
	/*content: "✓ ";*/
	/*color: green;*/
	content: "Success: ";
}

.status-error:before {
	/*content: "✗ ";*/
	/*color: red;*/
	content: "Error: ";
}

.note .username {
	font-weight: bold;
}
