html {
	font-family: Arial, Sans-serif;
	font-style: normal;
}

main {
	margin: 1em;
}

@media screen and (min-width: 900px) {
	main {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li {
	padding-bottom: 0.25em;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

nav {
	background-color: #b4cef7;
	padding: 1em;
}

nav li {
	margin-left: 1em;
}

nav a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 600px) {
	nav li {
		display: inline-block;
		padding-bottom: 0;
	}
}
