ul.ingredients {
	list-style: circle;
	margin-left: 2em;
}

ol.directions {
	list-style: decimal;
	margin-left: 2em;
}

.ingredients li {
	margin-bottom: 0.1em;
}

.directions li {
	margin-bottom: 0.3em;
}

img.recipe-illustration {
	width: 100%;
}

#comments {
	font-size: 0.9em;
	max-width: 400px;
}

.comment {
	padding: 0.75em;
	margin-bottom: 0.75em;
	background-color:  #e3e7ed;
}

.comment .username {
	font-weight: bold;
}

.comment .username:after {
	content: ": "
}

.delete-comment {
	/*margin-top: 0.75em;*/
	float: right;
}


.comment>.content {
	overflow-wrap: break-word;
}

#comment-form>textarea {
	resize: vertical;
	width: 100%;
	max-width: 400px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


#comment-form>* {
	display: block;
}

#comment-form>.status-error {
	font-size: 0.9em;
}

.comment input[type="submit"] {
	margin-top: 0.5em;
	border: none;
	background-color: #f4b942;
	font-weight: bold;
	padding: 2px 7px;
	font-size: 0.75em;
}
